.container{
			border:1px solid black ;
}
.row{
	border: 1.5px solid black ;
}
.col-2{
		border: 1px solid black ;

}
.col-3{
		border: 1px solid black ;

}
.col-4{
		border: 1px solid black ;

}